<div>
  <h1> Welcome to WikiTranslate </h1>
</div>


<form (ngSubmit)="search()">
<div class = "form-group">
  <label for="searchInput"> Search </label>
  <input type="text" class = "form-control" id = "searchInput" 
          required
          [(ngModel)]="this.searchInput" name = "searchInput">
  <button type = "submit" class = "btn btn-success"> Submit</button>
</div>
</form>

<section class = "parentContainer">

<div *ngIf="wikiResults" class= "wikiContainer">
  <h1> Wiki Results </h1>
  <div *ngFor="let result of wikiResults">
    <h3>{{result}}</h3>
  </div>
</div>

<div *ngIf="translateResults" class = "translateContainer">
    <h1>Translate Results</h1>
    <img *ngFor = "let result of translateResults" src = "{{result}}">
  </div>

</section>




